@font-face {
    font-family: 'Baskerville Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville Normal'), url('../../fonts/baskvl.woff') format('woff');
}

.CardSideWrapper {
    display: grid;
    justify-content: center;
    grid-row: 1;
    grid-column: 1;
    height: fit-content;
    position: relative;
}

.Card {
    transition: transform 0.25s ease-in-out;
    height: 100%;
    max-height: 90vh;
    z-index: 5;
    grid-row: 1;
    grid-column: 1;
}

.Card.Flipped {
    transform: rotate3d(0, 1, 0, 90deg);
}

.CardButton {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    border: none;
    padding: 0;
    grid-row: 1;
    grid-column: 1;
    -webkit-tap-highlight-color: transparent;
}

.CardButton:active,
.CardButton:hover,
.CardButton:focus {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.CardButton.Hidden {
    display: none;
}

.CardContent {
    transition: transform 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
}

.CardContent.Hidden {
    transform: rotate3d(0, 1, 0, 90deg);
}

.CardContentPrice {
    position: absolute;
    top: 22%;
    left: 26%;
    font-size: 72px;
    font-weight: 600;
    font-family: "Baskerville Normal";
    color: #1f1c10;
}

.CardContentCode {
    top: 75.5%;
    position: absolute;
    left: 51%;
    font-size: 40px;
    font-family: "Baskerville Normal";
    font-weight: 600;
    color: #1f1c10;
}