button {
  padding: 8px 15px;
  background-color: #ffffff;
  border: solid 1px #222222;
  color: #000000;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #dddddd;
  color: #000000;
}

button:active {
  background-color: #aaaaaa;
  color: #222222;
}
