.ContentWrapper {
    display: grid;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-content: center;
}

.FlipText {
    justify-self: center;
    text-transform: uppercase;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .FlipText {
        font-size: 2.67vw;
    }
}
